
*,
*:before,
*:after{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html,body{
    height: 100%;
}

.popup{
background-color:rgba(237, 234, 234);
width: 500px;
padding: 30px 40px;
position: fixed;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
border-radius: 8px;
font-family: "Poppins",sans-serif;
display: none; 
text-align: center;
}

.popup button{
display: block;
margin: 0 0 20px auto;
background-color: transparent;
font-size: 40px;
color: #090909;
background: rgba(237, 234, 234);
border-radius: 100%;
width: 40px;
height: 40px;
border: none;
outline: none;
cursor: pointer;
}

.popup img{
margin-top: -20px;
}

.popup .popupform{
font-size: 14px;
text-align: justify;
margin: 20px 0;
line-height: 25px;
}

.modal-footer .btn{
display: block;
width: 350px;
position: relative;
text-align: center;
border-radius: 10px;
color: #ffffff;
background-color: green;
text-decoration: none;
padding: 5px 0;
font-size: 20px;
}

.container {
  max-width: 1000px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  background: rgba(54, 54, 54, 0.1);
}
#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  z-index: 1001 ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link,
.navbar-link {
  color: black;
  text-decoration: none;
  display: flex;
  font-weight: bold;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
}

.home-link:is(:focus, :hover) {
  color: green;
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:is(:focus, :hover) {
  color: green;
  background-color: rgba(54, 54, 54, 0.1);;
}
.navbar-logo {
  background-color:rgba(54, 54, 54, 0.1);;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

  #section2 .btn .btnone {
    background: #09211a;
    color: white;
    width: fit-content;
    margin-left: 0px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
  }
  
  #section2 .btn .btnone:hover {
    background: green;
    color: white;
  }
  

  #section6 .btn .btnone {
    background: #0d2115;
    color: white;
    width: fit-content;
    margin-left: 0px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
    margin-bottom: 10px;
  }
  
  #section6 .btn .btnone:hover {
    background: #0d2115;
    color: white;
  }

  .contactform .btntwo {
    background: #0d2115;
    color: white;
    width: fit-content;
    margin-left: 0px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
    margin-bottom: 10px;
  }
  
  .contactform .btntwo:hover {
    background: #0d2115;
    color: white;
  }

#section2{
    padding: 40px;
}

#section2 h5{
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  color: green;
}

#section3 h5{
  font-weight: bolder;
  margin-left: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  color: green;
}

#section4 h5{
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  color: green;
}

#section3 img{
  margin-left: 40px;
  margin-right: 40px;
}

#section2 p{
    padding: 0 8vw;
    text-align: center;
}

.box{
    padding: 15px 10px;
    border: 2px solid rgb(6, 6, 6);
    text-align: center;
    margin-bottom: 20px;
}

#section2 .boxes .box span{
  font-size: 15px;
  font-weight: 10px;
  text-align: center;
}
#section4 h5{
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  color: green;
}

#section4 span{
  font-size: 18px;
  font-weight: 10px;
  margin-left: 40px;
}

#section4 ul{
  margin-top: 30px;
  margin-left: 40px;
}

#section5 h5{
  font-weight: bold;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  color: green;
}

#section6 h5{
  font-weight: bold;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  color: green;
}

#section7 h5{
  font-weight: bold;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  color: green;
}

#section8 h5{
  font-weight: bold;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  color: green;
}

#section9 h5{
  font-weight: bold;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  color: green;
}

#section7 .card{
  margin-top: 30px;
  margin-left: 40px;
}

#section6 .boxes .box{
    padding: 8px 0;
    margin-top: 30px;
    margin-left: 40px;
    min-width: 30vw;
    border: 2px solid rgb(13, 13, 12);
    border-radius: 8px;
    text-align: center;
}

#section6 .boxes .box .bg{
  padding: 20px;
  margin: 0px 8px;
  background-color: #7d7e7e;
  color: white;
}

#section5 ul{
  margin-top: 30px;
  margin-left: 40px;
}

.highlighted{
    font-size: 1.2rem;
}


.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

#section2 table{
    margin-bottom: 140px;
    margin-top: 20px;
    border: 1px solid;
}

#section2 table th,td{ 
    text-align: center;
} 

.section3{
    padding: 73px;
}

footer{
    padding: 0px;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}

.row .col-4{
  position: relative;
  bottom: 0;
}

.aside{
  display: flex;
  align-items: start;
  gap:1rem
}

.contactform{
  position: sticky;
  top: 0;
}

footer #section10{
margin-left: 40px;
}

/* The popup form - hidden by default */

.successpage{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(2, 2, 2);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform 0.4s, top 0.4s;
}

.successpopup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  color: #333;
  padding: 0 30px 30px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

#btnStart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.open-popup{
  visibility: visible;
  top:50%;
  transform: translate(-50%, -50%) scale(1);
}


.successpopup img{
  width: 100%;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.successpopup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0px 10px;
}

.successpopup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background-color: #6fd649;
  columns: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#message {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  margin: auto;
  text-align: center;
  display: none;
}

/* Add styles to the form container 
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(2, 2, 2);
}*/


footer .main-footer{ padding: 20px 0;  background: #6f6f6f;}

.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
  margin-left: 40px;
}

.services-list div{
  background:#7d7e7e;
  padding: 20px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s,transform 0.5s;
  color: white;
  text-align: center;
  justify-content: center;
}

.services-list div img{
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
}

.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
  justify-content: center;
}

.services-list div span{
  text-align: center;
  justify-content: center;
  margin-top: 0;
  text-align:justify;
  line-height: 1.5;
}

.services-list div a{
  text-decoration: none;
  color:  white;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover{
  background: rgb(26, 26, 26);
  transform: translateY(-10px);
  color: white;
}

.social-icons:hover{
  color: rgb(97, 96, 97,0.9);
  transform: translateY(-8px);
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
